.pastHour {
    background-color: gray;
}

.currentHour {
    background-color: red;;
}

.futureHour {
    background-color: green;
}

.endOfDay {
    background-image: linear-gradient(to left, green, yellow, orange, red);
  }




.input-group-text {
    color: blue;
    font-size: 1.5rem;
    font-weight: bold;
}