.pastHour {
    background-color: 	rgb(128, 128, 128);
}

.currentHour {
    background-color: rgb(255, 0, 0);
}

.futureHour {
    background-color: rgb(0, 204, 0);
}

body {
    background: url(https://images.pexels.com/photos/434337/pexels-photo-434337.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

* {
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 700;
}

.h1-h2 {
    color: rgb(0, 0, 255);
}

.input-group-text {
    color: rgb(0, 0, 255);;
    font-size: 1.5rem;
    font-weight: bold;
}

.time {
    width: 90px;
}